#nav-bg-shadow{
	background: $halfgray;
	-webkit-transition: background 1s ease-in-out;
	-moz-transition: background 1s ease-in-out;
	-ms-transition: background 1s ease-in-out;
	-o-transition: background 1s ease-in-out;
	transition: background 1s ease-in-out;
	i{
		color: $white;
		-webkit-transition: background 1s ease-in-out;
		-moz-transition: background 1s ease-in-out;
		-ms-transition: background 1s ease-in-out;
		-o-transition: background 1s ease-in-out;
		transition: background 1s ease-in-out;
	}
}
.navbar{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	.navbar-brand{
		padding: 0;
	}
	.form-group{
		margin: 0;
	}
	.nav-link{
		padding-top: .25rem !important;
		padding-bottom: 0 !important;
	}
}
.login{
	padding: 0;
	.modal-dialog{
	  margin: 0;
	  padding: 0;
		.modal-content{
			height: 100vh;
			width: 100vw;
			.modal-body{
				> div:first-of-type {
					border-right: 1px solid $thirdgray;
				}
				.card{
					background: $thirdgray;
					.card-body{
						i{
							float: right;
							font-size: 3rem;
						}
					}
				}
			}
		}
	}
}
.search{
	padding: 0;
	.modal-dialog{
	  margin: 0;
	  padding: 0;
		.modal-content{
			height: 100vh;
			width: 100vw;
			.modal-body{
				input {
				  border: 0;
				  background: rgba(0, 0, 0, 0);
				  font-size: 3rem;
				  letter-spacing: 0.2rem;
				  text-transform: uppercase;
				  font-weight: 600;
				  color: $gray;
				  padding-bottom: 1rem;
				}
				textarea, input { outline: none; }
				::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  font-size: 3rem;
					color: $gray;
				}
				::-moz-placeholder { /* Firefox 19+ */
					font-size: 3rem;
					color: $gray;
				}
				:-ms-input-placeholder { /* IE 10+ */
					font-size: 3rem;
					color: $gray;
				}
				:-moz-placeholder { /* Firefox 18- */
					font-size: 3rem;
					color: $gray;
				}
			}
		}
	}
}
.contactus{
	padding: 0;
	.modal-dialog{
	  margin: 0;
	  padding: 0;
		.modal-content{
			height: 100vh;
			width: 100vw;
			.modal-body{
				> div:first-of-type {
					border-right: 1px solid $thirdgray;
				}
				.card{
					.card-body{
						i{
							float: right;
							font-size: 3rem;
						}
						button{
							float: right;
						}
					}
				}
			}
		}
	}
}
.firstsection{
	height: 100vh;
	padding: 2rem;
	.leftfirstsection{
		background-image: url('../media/damage-930.png');
		background-size: 50%;
		background-repeat: no-repeat;
		background-position: center;
		.linetop{
			position: absolute;
			top: 0;
			left: 0;
			height: 55vh;
			border-left: .4rem solid $thirdgray;
		}
		.linebottom{
			position: absolute;
			top: 72vh;
			left: 0;
			height: 18vh;
			border-left: .4rem solid $thirdgray;
		}
		ul{
			position: absolute;
			left: 0;
			top: 56.5vh;
			.nav-link{
				padding: 0;
				font-size: 1.25rem;
			}
		}
		.contactinfo{
			font-size: 0.7rem;
			margin: 0;
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
	.rightfirstsection{
		height: 100%;
		padding: 0;
		-moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
		background-image: url('../media/black-and-white-car-vehicle-vintage.jpg');
		background-size: cover;
		.statisticsnumbers{
			position: absolute;
			bottom: 0;
			right: 1.2vw;
			li{
				text-align: right;
			}
			button{
				cursor: text;
				font-size: 2rem;
				color: $white !important;
				text-decoration: none;
			}
			button:hover{
				text-decoration: none;
			}
		}
	}
}
.secondsection{
	height: 80vh;
	margin: 0;
	.leftsecondsection{
		padding: 0;
		.carousel{
			vertical-align: middle;
			padding: 2rem;
			padding-top: 1rem;
			.card{
				height: 75vh;
				img{
					width: 50%;
			    display: block;
			    margin: 0 auto;
					margin-bottom: 3rem;
				}
				.table {
				  border-collapse: collapse;
				  border-style: hidden;
				}
				.lastdivider{
					margin-top: 4.5rem;
				}
				.socialmediatvg a{
					font-size: 1.5rem;
    			padding-top: 0;
				}
			}
			.carousel-control-next span, .carousel-control-prev span{
				color: $halfgray;
				font-size: 3rem;
			}
		}
	}
	.rightsecondsection{
		@include gradient200;
		img{
			height: 100%;
			float: right;
		}
		p{
			font-size: .8rem;
		}
	}
}
.thirdsection{
	height: 80vh;
	margin: 0;
	.leftthirdsection{
		@include gradient20;
		img{
			height: 100%;
			float: left;
		}
		p{
			font-size: .8rem;
		}
	}
	.rightthirdsection{
		padding: 0;
		.carousel{
			vertical-align: middle;
			padding: 2rem;
			padding-top: 1rem;
			.card{
				height: 75vh;
				img{
					width: 50%;
			    display: block;
			    margin: 0 auto;
					margin-bottom: 3rem;
				}
				.table {
				  border-collapse: collapse;
				  border-style: hidden;
				}
				.lastdivider{
					margin-top: 4.5rem;
				}
				.socialmediamotorist a{
					font-size: 1.5rem;
    			padding-top: 0;
				}
			}
			.carousel-control-next span, .carousel-control-prev span{
				color: $halfgray;
				font-size: 3rem;
			}
		}
	}
}
.footer{
	height: 50vh;
	background: $black;
	&:before{
		content: "";
    position: absolute;
    left: 0;
    top: 260vh;
    height: 50vh;
    width: 100%;
		background-image: url('../media/Map-dots.png');
	  -webkit-background-size: contain;
	  background-size: contain;
		opacity: .4;
	}
	.row [class*='col']:not(:last-child):after {
	  background: $thirdgray;
	  width: 1px;
	  content: "";
	  display:block;
	  position: absolute;
	  top:1rem;
	  bottom: 0;
	  right: 0;
	  min-height: 30vh;
	}
	.row{
		z-index: 998;
	}
}
.contactusmodallauncher {
	position: fixed;
	z-index: 999;
	top: 85vh;
	left: 2vw;
	i{
		font-size: 2.5rem;
	}
}
