$barbarian: #EC9B3B;
#nav-bg-shadow{
	background: $black;
	-webkit-transition: background 1s ease-in-out;
	-moz-transition: background 1s ease-in-out;
	-ms-transition: background 1s ease-in-out;
	-o-transition: background 1s ease-in-out;
	transition: background 1s ease-in-out;
	i{
		color: $white;
		-webkit-transition: background 1s ease-in-out;
		-moz-transition: background 1s ease-in-out;
		-ms-transition: background 1s ease-in-out;
		-o-transition: background 1s ease-in-out;
		transition: background 1s ease-in-out;
	}
}
.navbar{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	#navbar-brand-carcare{
		padding: 0;
		position: absolute;
    top: 0;
		transition: all .5s ease-in-out;
		img{
			height: 1.5rem;
			transition: all .5s ease-in-out;
		}
	}
	#navbar-brand-logocarcare{
		padding: 0;
		position: absolute;
    top: 1vh;
		transition: all .5s ease-in-out;
		img{
			height: 3rem;
			transition: all .5s ease-in-out;
		}
		*{
			transition: all .5s ease-in-out;
		}
	}
	.form-group{
		margin: 0;
	}
	.nav-link{
		padding-top: .25rem !important;
		padding-bottom: 0 !important;
		transition: all .5s ease-in-out;
	}
	&-profil{
		position: absolute;
		width: 100%;
	}
}
.login{
	padding: 0;
	.btn-primary {
    color: #fff !important;
    background-color: #2196f3 !important;
    border-color: #2196f3 !important;
	}
	.modal-dialog{
	  margin: 0;
	  padding: 0;
		.modal-content{
			height: 100vh;
			width: 100vw;
			.modal-body{
				> div:first-of-type {
					border-right: 1px solid $thirdgray;
				}
				.col{
					> .container{
						padding-right: 5rem;
    				padding-left: 5rem;
					}
				}
				.card{
					background: $thirdgray;
					.card-body{
						i{
							float: right;
							font-size: 3rem;
						}
					}
				}
			}
		}
	}
}
.search{
	padding: 0;
	.modal-dialog{
	  margin: 0;
	  padding: 0;
		.modal-content{
			height: 100vh;
			width: 100vw;
			.modal-body{
				input {
				  border: 0;
				  background: rgba(0, 0, 0, 0);
				  font-size: 3rem;
				  letter-spacing: 0.2rem;
				  text-transform: uppercase;
				  font-weight: 600;
				  color: $gray;
				  padding-bottom: 1rem;
				}
				textarea, input { outline: none; }
				::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  font-size: 3rem;
					color: $gray;
				}
				::-moz-placeholder { /* Firefox 19+ */
					font-size: 3rem;
					color: $gray;
				}
				:-ms-input-placeholder { /* IE 10+ */
					font-size: 3rem;
					color: $gray;
				}
				:-moz-placeholder { /* Firefox 18- */
					font-size: 3rem;
					color: $gray;
				}
			}
		}
	}
}
.tvgps, .motoristps{
	.badge-light {
    color: #111 !important;
    background-color: #f8f9fa;
	}
	.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
	}
	.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
	}
	padding: 0;
	.modal-dialog{
	  margin: 0;
	  padding: 0;
		.modal-content{
			height: 100vh;
			width: 100vw;
			background: $darkgray;
			.modal-body{
				.card{
					&:not(first-of-type){
						overflow: auto;
					}
					&::-webkit-scrollbar {
						display: none;
					}
				  width: 100%;
				  height: 100%;
				  margin: 0 auto;
				  perspective: 600;
				  position: relative;
					background: $darkgray;
				  .card-body{
				    background-color: $darkgray;
				    position: absolute;
				    padding: 0;
				    width: 100%;
				    height: 100%;
				    transform-style: preserve-3d;
				    transition: all .5s ease-in-out;
				    & *{
				      color: $white;
				    }
				    &:hover{
				      transform: rotateY(180deg);
				    }
				    .card-face{
				      backface-visibility: hidden;
				      height: 100%;
				      width: 100%;
				      position: absolute;
				      &:not(.active){
				        transform: rotateY(180deg);
				      }
							h1{
								font-weight: bolder;
								font-size: 5rem;
							}
				    }
				  }
				}
			}
		}
	}
}
.contactus{
	padding: 0;
	.modal-dialog{
	  margin: 0;
	  padding: 0;
		.modal-content{
			height: 100vh;
			width: 100vw;
			.modal-body{
				> div:first-of-type {
					border-right: 1px solid $thirdgray;
				}
				.card{
					.card-body{
						i{
							float: right;
							font-size: 3rem;
						}
						button{
							float: right;
						}
					}
				}
			}
		}
	}
}
.contactusmodallauncher {
	position: fixed;
	z-index: 995;
	top: 85vh;
	left: 2vw;
	i{
		font-size: 2.5rem;

	}
}
.firstsection{
	height: 100vh;
	padding: 2rem;
	&:before{
		content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
		background-image: url('../media/810.jpg');
	  -webkit-background-size: contain;
	  background-size: contain;
		opacity: .02;
	}
	.register-firstsection, .success-firstsection, .profil-firstsection{
		text-decoration: none;
		.linetop{
			position: absolute;
			top: 7vh;
			left: 0;
			height: 48vh;
			border-left: .4rem solid $thirdgray;
		}
		.linebottom{
			position: absolute;
			top: 72vh;
			left: 0;
			height: 18vh;
			border-left: .4rem solid $thirdgray;
		}
		ul.nav-social{
			position: absolute;
			left: 0;
			top: 63%;
			.nav-link{
				padding: 0;
				font-size: 1.25rem;
			}
		}
	}
	.profil-firstsection{
		background-color: $white;
		background-image: linear-gradient(-90deg, $white 0%, $thirdgray 100%);
		-webkit-box-shadow: 0px 20px 60px -30px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 20px 60px -30px rgba(0,0,0,0.75);
		box-shadow: 0px 20px 60px -30px rgba(0,0,0,0.75);
		.nav-social{
			background-color: $white;
			top: 50% !important;
			left: -0.4% !important;
			transform: translate(0%, -50%);
			-webkit-box-shadow: -10px 0px 32px -20px rgba(0,0,0,0.75);
			-moz-box-shadow: -10px 0px 32px -20px rgba(0,0,0,0.75);
			box-shadow: -10px 0px 32px -20px rgba(0,0,0,0.75);
			.contactusmodallauncher{
				position: relative;
				top: 0;
				left: 0;
			}
			i{
				font-size: 2.5rem;
			}
		}
		.profil-content{
			height: 100%;
			.row{
				height: 50%;
				.col-9{
					*, *:before, *:after {
					  box-sizing: border-box;
					}
					.wrapper {
						margin: 1rem;
				    margin-left: 30%;
				    transform: translate(-30%, 0);
					  &:focus {
					    outline: 0;
					  }
					}
					.clash-card {
					  background: white;
					  width: 30rem;
					  display: inline-block;
					  margin: auto;
					  position: relative;
					  text-align: left;
					  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
					  z-index: 9998;
						cursor: pointer;
					}
					.clash-card__image {
					  position: relative;
					  height: 10rem;
					}

					.clash-card__image--barbarian {
					  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');
					  img {
					    width: auto;
					    position: absolute;
					    top: -50%;
					    left: 50%;
					    transform: translate(-50%, 0);
					  }
					}
					.clash-card__level {
					  text-transform: uppercase;
					  font-size: .8rem;
					  font-weight: 700;
						margin-top: .5rem;
					  margin-bottom: .2rem;
					}
					.clash-card__level--barbarian {
					  color: $barbarian;
					}
					.clash-card__unit-name {
					  font-size: 1.5rem;
					  color: black;
					  font-weight: 900;
					  margin-bottom: .5rem;
					}
					.clearfix:after {
						visibility: hidden;
						display: block;
						font-size: 0;
						content: " ";
						clear: both;
						height: 0;
					}
				}
				.col-3{
					.card {
						float: right;
					  display: flex;
					  flex-direction: column;
					  border-radius: 0;
					  align-items: left;
					  margin: 1rem;
					  padding: 0;
					  width: 10rem;
					  height: 10rem;
					  background: #fff;
					  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
					}

					.card__image {
					  position: relative;
					  display: block;
					  width: 100%;
					  height: 100%;
					  overflow: hidden;

					  &:hover {
					    cursor: pointer;
					    &:after {
					      bottom: 0;
					      color: rgba(255,255,255,1);
					      transition: (all .15s);
					    }
					    .image-overlay {
					      background-color: rgba(35,155,55,.33);
					      transition: (all .15s);
					    }
					  }

					  &:after {
					    display: flex;
					    justify-content: center;
					    align-items: center;
					    bottom: -10rem;
					    position: absolute;
					    width: 100%;
					    height: 100%;
					    font-family: "FontAwesome";
					    font-size: 1rem;
					    text-align: center;
					    content: "\f00c";
					    color: rgba(255, 255, 255, 0);
					    color: #fff;
					    transition: (all .15s);
					  }

					  .image-overlay {
					    display: block;
					    position: absolute;
					    width: 100%;
					    height: 100%;
					    top: 0;
					    left: 0;
					    content: "";
					    background-color: rgba (255,255,255,0);
					    transition: (backgroundColor, .15s);
					  }

					  img {
					    display: block;
					    height: 100%;
					  }

					}
				}
			}
		}
	}
	.leftfirstsection{
		text-decoration: none;
		background-image: url('../media/motorist.png');
		background-size: 50%;
		background-repeat: no-repeat;
		background-position: center;
		.linetop{
			position: absolute;
			top: 7vh;
			left: 0;
			height: 48vh;
			border-left: .4rem solid $thirdgray;
		}
		.linebottom{
			position: absolute;
			top: 72vh;
			left: 0;
			height: 18vh;
			border-left: .4rem solid $thirdgray;
		}
		ul{
			position: absolute;
			left: 0;
			top: 63%;
			.nav-link{
				padding: 0;
				font-size: 1.25rem;
			}
		}
		.contactinfo{
			font-size: 0.7rem;
			margin: 0;
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
	.col:not(first-of-type){
		text-decoration: none;
	}
	.rightfirstsection{
		height: 100%;
		padding: 0;
		-moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
		background-image: url('../media/black-and-white-car-vehicle-vintage.jpg');
		background-size: cover;
		.statisticsnumbers{
			position: absolute;
			bottom: 0;
			right: 1.2vw;
			li{
				text-align: right;
			}
			button{
				cursor: text;
				font-size: 2rem;
				color: $white !important;
				text-decoration: none;
			}
			button:hover{
				text-decoration: none;
			}
		}
	}
}
.secondsection{
	height: 80vh;
	margin: 0;
	.leftsecondsection{
		padding: 0;
		.carousel{
			vertical-align: middle;
			padding: 2rem;
			padding-top: 1rem;
			.card{
				height: 75vh;
				img{
					width: 50%;
			    display: block;
			    margin: 0 auto;
					margin-bottom: 3rem;
				}
				.table {
				  border-collapse: collapse;
				  border-style: hidden;
				}
				.lastdivider{
					margin-top: 4.5rem;
				}
				.socialmediatvg a{
					font-size: 1.5rem;
    			padding-top: 0;
				}
			}
			.carousel-control-next span, .carousel-control-prev span{
				color: $halfgray;
				font-size: 3rem;
			}
		}
	}
	.rightsecondsection{
		@include gradient200;
		img{
			height: 100%;
			float: right;
		}
		p{
			font-size: .8rem;
		}
		h3{
			position: absolute;
	    font-size: 20rem;
	    opacity: .25;
	    border: 1px solid;
		}
	}
}
.thirdsection{
	height: 80vh;
	margin: 0;
	.leftthirdsection{
		@include gradient20;
		img{
			height: 100%;
			float: left;
		}
		p{
			font-size: .8rem;
		}
		h3{
			position: absolute;
	    font-size: 8rem;
	    opacity: .25;
	    border: 1px solid;
		}
	}
	.rightthirdsection{
		padding: 0;
		.carousel{
			vertical-align: middle;
			padding: 2rem;
			padding-top: 1rem;
			.card{
				height: 75vh;
				img{
					width: 50%;
			    display: block;
			    margin: 0 auto;
					margin-bottom: 3rem;
				}
				.table {
				  border-collapse: collapse;
				  border-style: hidden;
				}
				.lastdivider{
					margin-top: 4.5rem;
				}
				.socialmediamotorist a{
					font-size: 1.5rem;
    			padding-top: 0;
				}
			}
			.carousel-control-next span, .carousel-control-prev span{
				color: $halfgray;
				font-size: 3rem;
			}
		}
	}
}
.footer{
	height: 51vh;
	background: $black;
	z-index: 997;
	.container{
		height: 100%;
		.row:first-of-type{
			height: 45vh;
			padding-top: 8vh;
			h5{
				margin-bottom: 1rem;
			}
			i{
				font-size: 3rem;
			}
			p{
				font-size: .9rem;
			}
		}
		.row:not(first-of-type){
			a{
				font-size: .8rem;
			}
		}
	}
}
