@import "compass/css3";
@import "compass/utilities/general/clearfix";

$theme: #454cad;
$dark-text: #5f6982;
$black:               #191919;
$white:               #fff;
$beige:               #f4f4ed;
$green:               #399e71;
$brown:               #8f6749;
$brown-light:         #b58a6b;
$saumon:              #ee896f;
$saumon-bg:           #c66947;

$default-color-bg:    $white;

@mixin for-size($size) {
    @if $size == phone-only {
        @media (max-width: 599px) { @content; }
    } @else if $size == tablet-portrait-up {
        @media (min-width: 600px) { @content; }
    } @else if $size == tablet-landscape-up {
        @media (min-width: 900px) { @content; }
    } @else if $size == desktop-up {
        @media (min-width: 1200px) { @content; }
    } @else if $size == big-desktop-up {
        @media (min-width: 1800px) { @content; }
    }
}
@keyframes stroke_fill {
    0% {
        stroke-dashoffset: 900;
    }
    50% {
        stroke-dashoffset: 350;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.drawer--right.drawer-open .drawer-nav{
    right: 0 !important;
}
.drawer-nav{
    background-color: $darkgray !important;
    width: 25rem !important;
    right: -25rem !important;
    z-index: 1000;
    & a:hover{
        text-decoration: none;
    }
    .drawer-menu{
        li{
            position: relative;
            .bar{
                width: 0px;
                -webkit-transition: width .15s;
                transition: width .15s;
                height: 2px;
                position: absolute;
                display: block;
                background: rgba( $white, .5 );
                bottom: 0;
                left: 0;
            }
            &:hover{
                .bar{
                    width: 100%;
                }
            }
        }
        #profil-picture{
            box-shadow: 0px 0px 90px #fff;
            display: inline-block;
            margin-top: 0;
            height: 9rem;
            width: 9rem;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            display: block;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            &::after{
                font-family: FontAwesome;
                font-size: 2rem;
                content: "\f030";
                width: 100%;
                height: 50%;
                position: absolute;
                display: flex;
                justify-content : center;
                background: rgba( $black, .5 );
                color: $white;
                left: 0;
                top: 100%;
                border-bottom-left-radius: 18rem;
                border-bottom-right-radius: 18rem;
            }
            &:hover:after{
                top: 50%;
                -webkit-transition: top .15s;
                transition: top .15s;
            }
        }
        .drawer-brand{
            span{
                display: flex;
                justify-content: center;
                &::after{
                    content: "\00A0 \2014\2014\2014";
                    position: absolute;
                    right: 0;
                }
            }
        }
        .drawer-menu-item{
            span{
                display: flex;
                justify-content: center;
            }
        }
        &:nth-of-type(1){
            border-bottom: 1px solid $gray;
        }
        &:not(:first-of-type){
            li{
                &::before{
                    content: " ";
                    width: 0px;
                    -webkit-transition: width .15s;
                    transition: width .15s;
                    height: 100%;
                    position: absolute;
                    display: block;
                    background: rgba( $white, .5 );
                    left: -1rem;
                }
                &::after{
                    content: " ";
                    width: 0px;
                    -webkit-transition: width .15s;
                    transition: width .15s;
                    -webkit-transition: left .15s;
                    transition: left .15s;
                    height: 100%;
                    position: absolute;
                    display: block;
                    background: $thirdgray;
                    left: -1rem;
                    top: 0;
                    z-index: -1;
                }
                & span{
                    -webkit-transition: padding-right .15s;
                    transition: padding-right .15s;
                }
                &.active{
                    &::before{
                        width: 1rem;
                    }
                }
                &:hover span{
                    padding-right: 20%;
                }
                &:hover:after{
                    left: 0;
                    width: 90%;
                }
                &:hover:before{
                    width: 1rem;
                }
            }
            padding-left: 1rem;
            .drawer-menu-item{
                padding-top: 0;
                padding-bottom: 0;
                span{
                    justify-content: flex-start;
                    i:first-of-type{
                        font-size: 2rem;
                        margin-right: auto;
                    }
                    i:not(:first-of-type){
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-style: normal;
                        font-weight: 550;
                    }
                }
            }
            .drawer-brand{
                img{
                    height: 3rem;
                }
            }
        }
    }
}
.modal-footer{
    button{
        -webkit-transition: display .15s;
        transition: display .15s;
        margin-left: 0.5rem !important;
    }
}
#pictureModal{
    .modal-dialog{
        width: 80%;
        max-width: 80%;
        img {
            vertical-align: bottom;
        }
        .gallery {
            @include clearfix;
            width: 100%;
            height: 60vh;
            margin: 0;
            padding: 0;
            text-align: center;
            padding-left: 25px;
            overflow-y: scroll;
            &:hover > li {
                @include opacity(0.5);
            }
            li {
                position: relative;
                background: #FFFFFF;
                margin: 0 25px 25px 0;
                transition: all .2s ease-in-out;
                overflow: hidden;
                display: inline-block;
                img {
                    backface-visibility: hidden;
                    transition: all .2s ease-in-out;
                    width: 200px;
                    height: 150px;
                    object-fit: cover;
                    &:hover {
                        @include scale(1.1);
                    }
                }
                &:hover {
                    @include opacity(1);
                    cursor: pointer;
                }
                &:hover > li {
                    box-shadow: 1px 1px 1px 5px #0093d0;
                }
            }
        }
        .lightbox {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,0.7);
            padding: 75px;
            text-align: center;
            display: none;
            cursor: -webkit-zoom-out;
            cursor: -moz-zoom-out;
            z-index: 1;
            figure {
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
                white-space: no-wrap;
                background-repeat: no-repeat;
                background-position: center; 
                background-size: contain;
            }
        }
        .col:not(:first-of-type){
            margin-top: 0.5rem;
            .card{
                box-shadow: none;
                .card-body{
                    padding: 0;
                    .uploader {
                        margin: 0;
                        width: 100%;
                        height: 100%;
                        label {
                            float: left;
                            clear: both;
                            width: 100%;
                            margin: 0;
                            padding: 2rem 1.5rem;
                            text-align: center;
                            background: #fff;
                            border-radius: 7px;
                            outline: 2px dashed #92b0b3;
                            outline-offset: -2px;
                            transition: all .2s ease;
                            user-select: none;
                            &:hover {
                                border-color: $theme;
                            }
                            &.hover {
                                border: 3px solid $theme;
                                box-shadow: inset 0 0 0 6px #eee;
                                #start {
                                    i.fa {
                                        transform: scale(0.8);
                                        opacity: 0.3;
                                    }
                                }
                            }
                        }
                        #start {
                            float: left;
                            clear: both;
                            width: 100%;
                            &.hidden {
                                display: none;
                            }
                            i.fa {
                                font-size: 50px;
                                margin-bottom: 1rem;
                                transition: all .2s ease-in-out;
                            }
                        }
                        #response {
                            float: left;
                            clear: both;
                            width: 100%;
                            &.hidden {
                                display: none;
                            }
                            #messages {
                                margin-bottom: .5rem;
                            }
                        }
                        #file-image {
                            display: inline;
                            margin: 0 auto .5rem auto;
                            max-width: 180px;
                            &.hidden {
                                display: none;
                            }
                        }
                        #notimage {
                            display: block;
                            float: left;
                            clear: both;
                            width: 100%;
                            &.hidden {
                                display: none;
                            }
                        }
                        .progress {
                            // appearance: none;
                            display: inline;
                            clear: both;
                            margin: 0 auto;
                            max-width: 180px;
                            border: 0;
                            border-radius: 4px;
                            background-color: #eee;
                            overflow: hidden;
                        }
                        .progress[value]::-webkit-progress-bar {
                            border-radius: 4px;
                            background-color: #eee;
                        }
                        .progress[value]::-webkit-progress-value {
                            background: linear-gradient(to right, darken($theme,8%) 0%, $theme 50%);
                            border-radius: 4px; 
                        }
                        .progress[value]::-moz-progress-bar {
                            background: linear-gradient(to right, darken($theme,8%) 0%, $theme 50%);
                            border-radius: 4px; 
                        }
                        input[type="file"] {
                            display: none;
                        }
                        div {
                            margin: 0;
                        }
                        .btn {
                            text-transform: initial;
                            color: #555;
                            padding: 0;
                            line-height: 40px;
                            width: 16.5rem;
                            margin: 0.5rem auto;
                            display: block;
                            border: 2px solid #555;
                            &:hover, &:focus {
                                color: lighten(#555, 20%);
                                border-color: lighten(#555, 20%);
                            }
                            & span:before {
                                content: "\f093";
                                margin-right: 0.5rem;
                                font-family: "FontAwesome";
                            }
                        }
                    }
                }
            }
        }
    }
}
#bookingModal{
    padding: 0;
    .modal-dialog{
        margin: 0;
        padding: 0;
        .modal-content{
            height: 100vh;
            width: 100vw;
            .modal-body{
                padding: 20px 24px 0 !important;
                .container{
                    text-align: center;
                }
            }
            .modal-footer{
                button{
                    font-size: 1.5rem;
                }
            }
        }
      }
    @import "react-multistep-master/_progtracker.scss";
    .grid-cell {
        width: 100%;
        display: block;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        letter-spacing: normal;
        word-spacing: normal;
        text-rendering: auto;
        .cell{
            border-radius: 3px;
            margin: 1rem;
            background: #E3486A;
            color: #293f54;
            width: 8rem;
            height: 8rem;
            box-shadow: 0px 8px 32px 0px rgba(153, 153, 153, 0.8);
            transition: all 0.2s ease-out;
            cursor: pointer;
            position: relative;
            display: inline-block;
            text-align: center;
            &:hover{
                box-shadow: 0px 3px 12px 0px $halfgray;
            }
            &--selected{
                box-shadow: 0px 3px 12px 0px $halfgray;
                .cell--text{
                    height: 100%;
                }
            }
            &--text{
                display: flex;
                transition: all 0.2s ease-out;
                flex-direction: column-reverse;
                align-items: center;
                justify-content: center;
                position: absolute;
                background-color: white;
                margin: 0;
                padding: 0.4rem;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                font-size: 0.7rem;
                text-align: center;
                &--title{
                    font-weight: 700;
                }
            }
        }
    }
}
.reservation-firstsection{
    .nav-social{
        background-color: $white;
        top: 50% !important;
        left: -0.4% !important;
        transform: translate(0%, -50%);
        -webkit-box-shadow: -10px 0px 32px -20px rgba(0,0,0,0.75);
        -moz-box-shadow: -10px 0px 32px -20px rgba(0,0,0,0.75);
        box-shadow: -10px 0px 32px -20px rgba(0,0,0,0.75);
        .contactusmodallauncher{
            position: relative;
            top: 0;
            left: 0;
        }
        i{
            font-size: 2.5rem;
        }
    }
    .reservation-content{
        height: 100%;
        .col{
            padding-right: 0.5rem;
            padding-left: 0.5rem;
            .card{
                cursor: pointer;
                background-color: $darkgray;
                transition: all .2s ease-in-out;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 100%;
                i{
                    flex: 1 1 auto;
                    font-size: 15rem;
                    text-align: center;
                }
                .st0-lamp{fill:#191919;}
                .st1-lamp{fill:#8F9995;}
                .st2-lamp{opacity:0.7;fill:url(#SVGID_1_);}
                .st3-lamp{fill:#D8D9DA;}
                .st0{fill:#FFFFFF;}
                .st1{fill:#DC4844;}
                .st2{fill:#BF3A37;}
                .st3{fill:#EBEBEB;}
                .st4{fill:#BABABA;}
                .st5{fill:#E7E6E6;}
                .lamp {
                    height: 100%;
                    pointer-events: none;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    z-index: 999;
                    &--left {
                      height: 100%;
                      left: 0;
                      position: absolute;
                      top: 0;
                      width: 100%;
                    }
                }
                .calendar{
                    height: 100%;
                    pointer-events: none;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    z-index: 998;
                    margin-top: 50%;
                    #Layer_5{
                        .st1{
                            animation: stroke_fill 4s linear forwards;
                            stroke-dasharray: 324.774;
                            stroke-dashoffset: 324.774;
                        }
                    }
                }
                .card-title{
                    border-bottom: 0.4rem solid $gray;
                }
                &:hover{
                    @include scale(1.1);
                }
            }
        }
    }
}
.profil-firstsection{
    background-color: $white;
    background-image: linear-gradient(-90deg, $white 0%, $thirdgray 100%);
    -webkit-box-shadow: 0px 20px 60px -30px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 20px 60px -30px rgba(0,0,0,0.75);
    box-shadow: 0px 20px 60px -30px rgba(0,0,0,0.75);
    .nav-social{
        background-color: $white;
        top: 50% !important;
        left: -0.4% !important;
        transform: translate(0%, -50%);
        -webkit-box-shadow: -10px 0px 32px -20px rgba(0,0,0,0.75);
        -moz-box-shadow: -10px 0px 32px -20px rgba(0,0,0,0.75);
        box-shadow: -10px 0px 32px -20px rgba(0,0,0,0.75);
        .contactusmodallauncher{
            position: relative;
            top: 0;
            left: 0;
        }
        i{
            font-size: 2.5rem;
        }
    }
    .profil-content{
        height: 100%;
        .row{
            height: 50%;
            &:first-of-type{
                .col-3{
                    display: flex;
                    .accountLocationContainer{
                        margin: 1rem;
                        margin-top: auto;
                        margin-left: auto;
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
            .col-9{
                *, *:before, *:after {
                  box-sizing: border-box;
                }
                &:first-of-type{
                    display: flex;
                    .accountInfoContainer{
                        position: relative;
                        margin: 1rem;
                        margin-top: auto;
                        float: left;
                        left: 10%;
                        display: flex;
                        flex-direction: column;
                        h2{
                            &::before{
                                content: "\2014\2014\2014 \00A0";
                            }
                        }
                    }
                }
                .vehiclesCarousel{
                    width: 30rem;
                    margin: 1rem;
                    float: left;
                    left: 10%;
                    display: flex;
                    flex-direction: column;
                    .wrapper {
                        box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
                        &:focus {
                            outline: 0;
                        }
                        .clash-card {
                            background: white;
                            width: 100%;
                            text-align: left;
                            cursor: pointer;
                            &__image {
                                position: relative;
                                height: 10rem;
                                &--barbarian {
                                    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');
                                    img {
                                        width: auto;
                                        position: absolute;
                                        top: -50%;
                                        left: 50%;
                                        transform: translate(-50%, 0);
                                    }
                                }
                            }
                            &__level {
                                text-transform: uppercase;
                                font-size: .8rem;
                                font-weight: 700;
                                margin-top: .5rem;
                                margin-bottom: .2rem;
                                margin-left: .5rem;
                                &--barbarian {
                                    color: $barbarian;
                                }
                            }
                            &__unit-name {
                                font-size: 1.5rem;
                                color: black;
                                font-weight: 900;
                                margin-left: .5rem;
                            }
                        }
                        .clearfix:after {
                            visibility: hidden;
                            display: block;
                            font-size: 0;
                            content: " ";
                            clear: both;
                            height: 0;
                        }
                    }
                    .carousel-control-prev {
                        left: -4rem;
                        z-index: 999;
                        span{
                            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
                        }
                    }
                    
                    .carousel-control-next {
                        right: -4rem;
                        z-index: 999;
                        span{
                            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
                        }
                    }
                }
            }
            .col-3{
                .card {
                    float: right;
                    display: flex;
                    flex-direction: column;
                    border-radius: 0;
                    align-items: left;
                    margin: 1rem;
                    padding: 0;
                    width: 10rem;
                    height: 10rem;
                    background: #fff;
                    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
                }
                .card__image {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    &:hover {
                        cursor: pointer;
                        &:after {
                            bottom: 0;
                            color: rgba(255,255,255,1);
                            transition: (all .15s);
                        }
                        .image-overlay {
                            background-color: rgba(35,155,55,.33);
                            transition: (all .15s);
                        }
                    }
                    &:after {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        bottom: -10rem;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        font-family: "FontAwesome";
                        font-size: 1rem;
                        text-align: center;
                        content: "\f00c";
                        color: rgba(255, 255, 255, 0);
                        color: #fff;
                        transition: (all .15s);
                    }
                    .image-overlay {
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        content: "";
                        background-color: rgba (255,255,255,0);
                        transition: (backgroundColor, .15s);
                    }
                    img {
                        display: block;
                        height: 100%;
                    }
                }
            }
        }
    }
}