.drawer--right.drawer-open .drawer-nav{
    right: 0 !important;
}
.drawer-nav{
    background-color: $darkgray !important;
    width: 25rem !important;
    right: -25rem !important;
    & a:hover{
        text-decoration: none;
    }
    .drawer-menu{
        li{
            position: relative;
            .bar{
                width: 0px;
                -webkit-transition: width .15s;
                transition: width .15s;
                height: 2px;
                position: absolute;
                display: block;
                background: rgba( $white, .5 );
                bottom: 0;
                left: 0;
            }
            &:hover{
                .bar{
                    width: 100%;
                }
            }
        }
        #profil-picture{
            box-shadow: 0px 0px 90px #fff;
            display: inline-block;
            width: 150px;
            margin-top: 0;
            height: 150px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .drawer-brand{
            span{
                display: flex;
                justify-content: center;
                &::after{
                    content: "\00A0 \2014\2014\2014";
                    position: absolute;
                    right: 0;
                }
            }
        }
        .drawer-menu-item{
            span{
                display: flex;
                justify-content: center;
            }
        }
        &:nth-of-type(1){
            border-bottom: 1px solid $gray;
        }
        &:not(:first-of-type){
            li{
                &::before{
                    content: " ";
                    width: 0px;
                    -webkit-transition: width .15s;
                    transition: width .15s;
                    height: 100%;
                    position: absolute;
                    display: block;
                    background: rgba( $white, .5 );
                    left: -1rem;
                }
                &::after{
                    content: " ";
                    width: 0px;
                    -webkit-transition: width .15s;
                    transition: width .15s;
                    -webkit-transition: left .15s;
                    transition: left .15s;
                    height: 100%;
                    position: absolute;
                    display: block;
                    background: $thirdgray;
                    left: -1rem;
                    top: 0;
                    z-index: -1;
                }
                & span{
                    -webkit-transition: padding-right .15s;
                    transition: padding-right .15s;
                }
                &.active{
                    &::before{
                        width: 1rem;
                    }
                }
                &:hover span{
                    padding-right: 20%;
                }
                &:hover:after{
                    left: 0;
                    width: 90%;
                }
                &:hover:before{
                    width: 1rem;
                }
            }
            padding-left: 1rem;
            .drawer-menu-item{
                padding-top: 0;
                padding-bottom: 0;
                span{
                    justify-content: flex-start;
                    i:first-of-type{
                        font-size: 2rem;
                        margin-right: auto;
                    }
                    i:not(:first-of-type){
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-style: normal;
                        font-weight: 550;
                    }
                }
            }
            .drawer-brand{
                img{
                    height: 3rem;
                }
            }
        }
    }
}
.profil-firstsection{
    background-color: $white;
    background-image: linear-gradient(-90deg, $white 0%, $thirdgray 100%);
    -webkit-box-shadow: 0px 20px 60px -30px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 20px 60px -30px rgba(0,0,0,0.75);
    box-shadow: 0px 20px 60px -30px rgba(0,0,0,0.75);
    .nav-social{
        background-color: $white;
        top: 50% !important;
        left: -0.4% !important;
        transform: translate(0%, -50%);
        -webkit-box-shadow: -10px 0px 32px -20px rgba(0,0,0,0.75);
        -moz-box-shadow: -10px 0px 32px -20px rgba(0,0,0,0.75);
        box-shadow: -10px 0px 32px -20px rgba(0,0,0,0.75);
        .contactusmodallauncher{
            position: relative;
            top: 0;
            left: 0;
        }
        i{
            font-size: 2.5rem;
        }
    }
    .profil-content{
        height: 100%;
        .row{
            height: 50%;
            &:first-of-type{
                .col-3{
                    display: flex;
                    .accountLocationContainer{
                        margin: 1rem;
                        margin-top: auto;
                        margin-left: auto;
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
            .col-9{
                *, *:before, *:after {
                  box-sizing: border-box;
                }
                &:first-of-type{
                    display: flex;
                    .accountInfoContainer{
                        position: relative;
                        margin: 1rem;
                        margin-top: auto;
                        float: left;
                        left: 10%;
                        display: flex;
                        flex-direction: column;
                        h2{
                            &::before{
                                content: "\2014\2014\2014 \00A0";
                            }
                        }
                    }
                }
                .vehiclesCarousel{
                    width: 30rem;
                    margin: 1rem;
                    float: left;
                    left: 10%;
                    display: flex;
                    flex-direction: column;
                    .wrapper {
                        box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
                        &:focus {
                            outline: 0;
                        }
                        .clash-card {
                            background: white;
                            width: 100%;
                            text-align: left;
                            cursor: pointer;
                            &__image {
                                position: relative;
                                height: 10rem;
                                &--barbarian {
                                    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');
                                    img {
                                        width: auto;
                                        position: absolute;
                                        top: -50%;
                                        left: 50%;
                                        transform: translate(-50%, 0);
                                    }
                                }
                            }
                            &__level {
                                text-transform: uppercase;
                                font-size: .8rem;
                                font-weight: 700;
                                margin-top: .5rem;
                                margin-bottom: .2rem;
                                margin-left: .5rem;
                                &--barbarian {
                                    color: $barbarian;
                                }
                            }
                            &__unit-name {
                                font-size: 1.5rem;
                                color: black;
                                font-weight: 900;
                                margin-left: .5rem;
                            }
                        }
                        .clearfix:after {
                            visibility: hidden;
                            display: block;
                            font-size: 0;
                            content: " ";
                            clear: both;
                            height: 0;
                        }
                    }
                    .carousel-control-prev {
                        left: -4rem;
                        z-index: 999;
                        span{
                            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
                        }
                    }
                    
                    .carousel-control-next {
                        right: -4rem;
                        z-index: 999;
                        span{
                            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
                        }
                    }
                }
            }
            .col-3{
                .card {
                    float: right;
                    display: flex;
                    flex-direction: column;
                    border-radius: 0;
                    align-items: left;
                    margin: 1rem;
                    padding: 0;
                    width: 10rem;
                    height: 10rem;
                    background: #fff;
                    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
                }

                .card__image {
                  position: relative;
                  display: block;
                  width: 100%;
                  height: 100%;
                  overflow: hidden;

                  &:hover {
                    cursor: pointer;
                    &:after {
                      bottom: 0;
                      color: rgba(255,255,255,1);
                      transition: (all .15s);
                    }
                    .image-overlay {
                      background-color: rgba(35,155,55,.33);
                      transition: (all .15s);
                    }
                  }

                  &:after {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    bottom: -10rem;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    font-family: "FontAwesome";
                    font-size: 1rem;
                    text-align: center;
                    content: "\f00c";
                    color: rgba(255, 255, 255, 0);
                    color: #fff;
                    transition: (all .15s);
                  }

                  .image-overlay {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    content: "";
                    background-color: rgba (255,255,255,0);
                    transition: (backgroundColor, .15s);
                  }

                  img {
                    display: block;
                    height: 100%;
                  }

                }
            }
        }
    }
}