$white: #fff;
$black: #000;
$gray: #999;
$darkgray: #1e1e1e;
$halfgray: rgba(153, 153, 153, 1/2);
$thirdgray: rgba(153, 153, 153, 1/3);
@mixin gradient{
  background-color: $gray;
  background-image: linear-gradient(110deg, $gray 0%, $white 100%);
}
@mixin gradient200 {
  background-color: $gray;
  background-image: linear-gradient(200deg, $gray 0%, $white 100%);
}
@mixin gradient20 {
  background-color: $gray;
  background-image: linear-gradient(20deg, $gray 0%, $white 100%);
}
body{
	padding : 0;
	overflow-x: hidden;
	.container-fluid{
		padding: 0;
	}
}
body *{
  color: $gray;
}
.body-homepage::before{
   content: '';
   position: absolute;
   display: inline-block;
   width: 140vw;
   height: 140vw;
   -moz-border-radius: 20vw;
   -webkit-border-radius: 20vw;
   border-radius: 20vw;
   top: -80vw;
   left: -100vw;
   @include gradient;
   transform: rotate(65deg);
}
.body-register::before, .body-success::before{
   content: '';
   position: absolute;
   display: inline-block;
   width: 140vw;
   height: 125vw;
   -moz-border-radius: 20vw;
   -webkit-border-radius: 20vw;
   border-radius: 20vw;
   top: -80vw;
   left: -100vw;
   @include gradient;
   transform: rotate(65deg);
}
.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  .bar{
    width: 95%;
    height: 1px;
    background-color: $thirdgray;
  }
}
.Aligner-item {
  max-width: 50%;
}
.Aligner-item--top {
  align-self: flex-start;
}
.Aligner-item--bottom {
  align-self: flex-end;
}
.has-error input{
  background-image: linear-gradient(0deg,#d50000 2px,rgba(213,0,0,0) 0), linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0) !important;
}

a.disabled {
  cursor: default;
}

@import 'homepage';
@import 'checkbox';
@import 'timeline';
@import 'paneltab';
@import 'tooltip';
@import 'success';

[type=reset], [type=submit], button, html [type=button]{
	-webkit-appearance: none;
}
