/* line 19, ../sass/main.scss */
body {
  padding: 0;
  overflow-x: hidden;
}
/* line 22, ../sass/main.scss */
body .container-fluid {
  padding: 0;
}

/* line 26, ../sass/main.scss */
body * {
  color: #999999;
}

/* line 29, ../sass/main.scss */
.body-homepage::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 140vw;
  height: 140vw;
  -moz-border-radius: 20vw;
  -webkit-border-radius: 20vw;
  border-radius: 20vw;
  top: -80vw;
  left: -100vw;
  background-color: #999999;
  background-image: linear-gradient(110deg, #999999 0%, #ffffff 100%);
  transform: rotate(65deg);
}

/* line 43, ../sass/main.scss */
.body-register::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 140vw;
  height: 125vw;
  -moz-border-radius: 20vw;
  -webkit-border-radius: 20vw;
  border-radius: 20vw;
  top: -80vw;
  left: -100vw;
  background-color: #999999;
  background-image: linear-gradient(110deg, #999999 0%, #ffffff 100%);
  transform: rotate(65deg);
}

/* line 57, ../sass/main.scss */
.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 63, ../sass/main.scss */
.Aligner-item {
  max-width: 50%;
}

/* line 67, ../sass/main.scss */
.Aligner-item--top {
  align-self: flex-start;
}

/* line 71, ../sass/main.scss */
.Aligner-item--bottom {
  align-self: flex-end;
}

/* line 75, ../sass/main.scss */
.has-error input {
  background-image: linear-gradient(0deg, #d50000 2px, rgba(213, 0, 0, 0) 0%), linear-gradient(0deg, rgba(0, 0, 0, 0) 1px, transparent 0%) !important;
}

/* line 79, ../sass/main.scss */
a.disabled {
  cursor: context-menu;
}

/* line 1, ../sass/_homepage.scss */
#nav-bg-shadow {
  background: black;
  -webkit-transition: background 1s ease-in-out;
  -moz-transition: background 1s ease-in-out;
  -ms-transition: background 1s ease-in-out;
  -o-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out;
}
/* line 8, ../sass/_homepage.scss */
#nav-bg-shadow i {
  color: white;
  -webkit-transition: background 1s ease-in-out;
  -moz-transition: background 1s ease-in-out;
  -ms-transition: background 1s ease-in-out;
  -o-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out;
}

/* line 17, ../sass/_homepage.scss */
.navbar {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
/* line 23, ../sass/_homepage.scss */
.navbar #navbar-brand-carcare {
  padding: 0;
  position: absolute;
  top: 0;
  transition: all .5s ease-in-out;
}
/* line 28, ../sass/_homepage.scss */
.navbar #navbar-brand-carcare img {
  height: 1.5rem;
  transition: all .5s ease-in-out;
}
/* line 33, ../sass/_homepage.scss */
.navbar #navbar-brand-logocarcare {
  padding: 0;
  position: absolute;
  top: 1vh;
  transition: all .5s ease-in-out;
}
/* line 38, ../sass/_homepage.scss */
.navbar #navbar-brand-logocarcare img {
  height: 3rem;
  transition: all .5s ease-in-out;
}
/* line 42, ../sass/_homepage.scss */
.navbar #navbar-brand-logocarcare * {
  transition: all .5s ease-in-out;
}
/* line 46, ../sass/_homepage.scss */
.navbar .form-group {
  margin: 0;
}
/* line 49, ../sass/_homepage.scss */
.navbar .nav-link {
  padding-top: .25rem !important;
  padding-bottom: 0 !important;
  transition: all .5s ease-in-out;
}

/* line 55, ../sass/_homepage.scss */
.login {
  padding: 0;
}
/* line 57, ../sass/_homepage.scss */
.login .btn-primary {
  color: #fff !important;
  background-color: #2196f3 !important;
  border-color: #2196f3 !important;
}
/* line 62, ../sass/_homepage.scss */
.login .modal-dialog {
  margin: 0;
  padding: 0;
}
/* line 65, ../sass/_homepage.scss */
.login .modal-dialog .modal-content {
  height: 100vh;
  width: 100vw;
}
/* line 69, ../sass/_homepage.scss */
.login .modal-dialog .modal-content .modal-body > div:first-of-type {
  border-right: 1px solid rgba(153, 153, 153, 0.33333);
}
/* line 73, ../sass/_homepage.scss */
.login .modal-dialog .modal-content .modal-body .col > .container {
  padding-right: 5rem;
  padding-left: 5rem;
}
/* line 78, ../sass/_homepage.scss */
.login .modal-dialog .modal-content .modal-body .card {
  background: rgba(153, 153, 153, 0.33333);
}
/* line 81, ../sass/_homepage.scss */
.login .modal-dialog .modal-content .modal-body .card .card-body i {
  float: right;
  font-size: 3rem;
}

/* line 91, ../sass/_homepage.scss */
.search {
  padding: 0;
}
/* line 93, ../sass/_homepage.scss */
.search .modal-dialog {
  margin: 0;
  padding: 0;
}
/* line 96, ../sass/_homepage.scss */
.search .modal-dialog .modal-content {
  height: 100vh;
  width: 100vw;
}
/* line 100, ../sass/_homepage.scss */
.search .modal-dialog .modal-content .modal-body input {
  border: 0;
  background: rgba(0, 0, 0, 0);
  font-size: 3rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #999999;
  padding-bottom: 1rem;
}
/* line 110, ../sass/_homepage.scss */
.search .modal-dialog .modal-content .modal-body textarea, .search .modal-dialog .modal-content .modal-body input {
  outline: none;
}
/* line 111, ../sass/_homepage.scss */
.search .modal-dialog .modal-content .modal-body ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 3rem;
  color: #999999;
}
/* line 115, ../sass/_homepage.scss */
.search .modal-dialog .modal-content .modal-body ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 3rem;
  color: #999999;
}
/* line 119, ../sass/_homepage.scss */
.search .modal-dialog .modal-content .modal-body :-ms-input-placeholder {
  /* IE 10+ */
  font-size: 3rem;
  color: #999999;
}
/* line 123, ../sass/_homepage.scss */
.search .modal-dialog .modal-content .modal-body :-moz-placeholder {
  /* Firefox 18- */
  font-size: 3rem;
  color: #999999;
}

/* line 131, ../sass/_homepage.scss */
.tvgps, .motoristps {
  padding: 0;
}
/* line 132, ../sass/_homepage.scss */
.tvgps .badge-light, .motoristps .badge-light {
  color: #111 !important;
  background-color: #f8f9fa;
}
/* line 136, ../sass/_homepage.scss */
.tvgps .badge-pill, .motoristps .badge-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}
/* line 141, ../sass/_homepage.scss */
.tvgps .badge, .motoristps .badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}
/* line 154, ../sass/_homepage.scss */
.tvgps .modal-dialog, .motoristps .modal-dialog {
  margin: 0;
  padding: 0;
}
/* line 157, ../sass/_homepage.scss */
.tvgps .modal-dialog .modal-content, .motoristps .modal-dialog .modal-content {
  height: 100vh;
  width: 100vw;
  background: #1e1e1e;
}
/* line 162, ../sass/_homepage.scss */
.tvgps .modal-dialog .modal-content .modal-body .card, .motoristps .modal-dialog .modal-content .modal-body .card {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  perspective: 600;
  position: relative;
  background: #1e1e1e;
}
/* line 163, ../sass/_homepage.scss */
.tvgps .modal-dialog .modal-content .modal-body .card:not(first-of-type), .motoristps .modal-dialog .modal-content .modal-body .card:not(first-of-type) {
  overflow: auto;
}
/* line 166, ../sass/_homepage.scss */
.tvgps .modal-dialog .modal-content .modal-body .card::-webkit-scrollbar, .motoristps .modal-dialog .modal-content .modal-body .card::-webkit-scrollbar {
  display: none;
}
/* line 175, ../sass/_homepage.scss */
.tvgps .modal-dialog .modal-content .modal-body .card .card-body, .motoristps .modal-dialog .modal-content .modal-body .card .card-body {
  background-color: #1e1e1e;
  position: absolute;
  padding: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all .5s ease-in-out;
}
/* line 183, ../sass/_homepage.scss */
.tvgps .modal-dialog .modal-content .modal-body .card .card-body *, .motoristps .modal-dialog .modal-content .modal-body .card .card-body * {
  color: white;
}
/* line 186, ../sass/_homepage.scss */
.tvgps .modal-dialog .modal-content .modal-body .card .card-body:hover, .motoristps .modal-dialog .modal-content .modal-body .card .card-body:hover {
  transform: rotateY(180deg);
}
/* line 189, ../sass/_homepage.scss */
.tvgps .modal-dialog .modal-content .modal-body .card .card-body .card-face, .motoristps .modal-dialog .modal-content .modal-body .card .card-body .card-face {
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
}
/* line 194, ../sass/_homepage.scss */
.tvgps .modal-dialog .modal-content .modal-body .card .card-body .card-face:not(.active), .motoristps .modal-dialog .modal-content .modal-body .card .card-body .card-face:not(.active) {
  transform: rotateY(180deg);
}
/* line 197, ../sass/_homepage.scss */
.tvgps .modal-dialog .modal-content .modal-body .card .card-body .card-face h1, .motoristps .modal-dialog .modal-content .modal-body .card .card-body .card-face h1 {
  font-weight: bolder;
  font-size: 5rem;
}

/* line 208, ../sass/_homepage.scss */
.contactus {
  padding: 0;
}
/* line 210, ../sass/_homepage.scss */
.contactus .modal-dialog {
  margin: 0;
  padding: 0;
}
/* line 213, ../sass/_homepage.scss */
.contactus .modal-dialog .modal-content {
  height: 100vh;
  width: 100vw;
}
/* line 217, ../sass/_homepage.scss */
.contactus .modal-dialog .modal-content .modal-body > div:first-of-type {
  border-right: 1px solid rgba(153, 153, 153, 0.33333);
}
/* line 222, ../sass/_homepage.scss */
.contactus .modal-dialog .modal-content .modal-body .card .card-body i {
  float: right;
  font-size: 3rem;
}
/* line 226, ../sass/_homepage.scss */
.contactus .modal-dialog .modal-content .modal-body .card .card-body button {
  float: right;
}

/* line 235, ../sass/_homepage.scss */
.firstsection {
  height: 100vh;
  padding: 2rem;
}
/* line 238, ../sass/_homepage.scss */
.firstsection:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("../media/810.jpg");
  -webkit-background-size: contain;
  background-size: contain;
  opacity: .02;
}
/* line 251, ../sass/_homepage.scss */
.firstsection .register-firstsection {
  text-decoration: none;
}
/* line 253, ../sass/_homepage.scss */
.firstsection .register-firstsection .linetop {
  position: absolute;
  top: 7vh;
  left: 0;
  height: 48vh;
  border-left: 0.4rem solid rgba(153, 153, 153, 0.33333);
}
/* line 260, ../sass/_homepage.scss */
.firstsection .register-firstsection .linebottom {
  position: absolute;
  top: 72vh;
  left: 0;
  height: 18vh;
  border-left: 0.4rem solid rgba(153, 153, 153, 0.33333);
}
/* line 267, ../sass/_homepage.scss */
.firstsection .register-firstsection ul.nav-social {
  position: absolute;
  left: 0;
  top: 63%;
}
/* line 271, ../sass/_homepage.scss */
.firstsection .register-firstsection ul.nav-social .nav-link {
  padding: 0;
  font-size: 1.25rem;
}
/* line 277, ../sass/_homepage.scss */
.firstsection .leftfirstsection {
  text-decoration: none;
  background-image: url("../media/motorist.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 283, ../sass/_homepage.scss */
.firstsection .leftfirstsection .linetop {
  position: absolute;
  top: 7vh;
  left: 0;
  height: 48vh;
  border-left: 0.4rem solid rgba(153, 153, 153, 0.33333);
}
/* line 290, ../sass/_homepage.scss */
.firstsection .leftfirstsection .linebottom {
  position: absolute;
  top: 72vh;
  left: 0;
  height: 18vh;
  border-left: 0.4rem solid rgba(153, 153, 153, 0.33333);
}
/* line 297, ../sass/_homepage.scss */
.firstsection .leftfirstsection ul {
  position: absolute;
  left: 0;
  top: 63%;
}
/* line 301, ../sass/_homepage.scss */
.firstsection .leftfirstsection ul .nav-link {
  padding: 0;
  font-size: 1.25rem;
}
/* line 306, ../sass/_homepage.scss */
.firstsection .leftfirstsection .contactinfo {
  font-size: 0.7rem;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 314, ../sass/_homepage.scss */
.firstsection .col:not(first-of-type) {
  text-decoration: none;
}
/* line 317, ../sass/_homepage.scss */
.firstsection .rightfirstsection {
  height: 100%;
  padding: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-image: url("../media/black-and-white-car-vehicle-vintage.jpg");
  background-size: cover;
}
/* line 325, ../sass/_homepage.scss */
.firstsection .rightfirstsection .statisticsnumbers {
  position: absolute;
  bottom: 0;
  right: 1.2vw;
}
/* line 329, ../sass/_homepage.scss */
.firstsection .rightfirstsection .statisticsnumbers li {
  text-align: right;
}
/* line 332, ../sass/_homepage.scss */
.firstsection .rightfirstsection .statisticsnumbers button {
  cursor: text;
  font-size: 2rem;
  color: white !important;
  text-decoration: none;
}
/* line 338, ../sass/_homepage.scss */
.firstsection .rightfirstsection .statisticsnumbers button:hover {
  text-decoration: none;
}

/* line 344, ../sass/_homepage.scss */
.secondsection {
  height: 80vh;
  margin: 0;
}
/* line 347, ../sass/_homepage.scss */
.secondsection .leftsecondsection {
  padding: 0;
}
/* line 349, ../sass/_homepage.scss */
.secondsection .leftsecondsection .carousel {
  vertical-align: middle;
  padding: 2rem;
  padding-top: 1rem;
}
/* line 353, ../sass/_homepage.scss */
.secondsection .leftsecondsection .carousel .card {
  height: 75vh;
}
/* line 355, ../sass/_homepage.scss */
.secondsection .leftsecondsection .carousel .card img {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 3rem;
}
/* line 361, ../sass/_homepage.scss */
.secondsection .leftsecondsection .carousel .card .table {
  border-collapse: collapse;
  border-style: hidden;
}
/* line 365, ../sass/_homepage.scss */
.secondsection .leftsecondsection .carousel .card .lastdivider {
  margin-top: 4.5rem;
}
/* line 368, ../sass/_homepage.scss */
.secondsection .leftsecondsection .carousel .card .socialmediatvg a {
  font-size: 1.5rem;
  padding-top: 0;
}
/* line 373, ../sass/_homepage.scss */
.secondsection .leftsecondsection .carousel .carousel-control-next span, .secondsection .leftsecondsection .carousel .carousel-control-prev span {
  color: rgba(153, 153, 153, 0.5);
  font-size: 3rem;
}
/* line 379, ../sass/_homepage.scss */
.secondsection .rightsecondsection {
  background-color: #999999;
  background-image: linear-gradient(200deg, #999999 0%, #ffffff 100%);
}
/* line 381, ../sass/_homepage.scss */
.secondsection .rightsecondsection img {
  height: 100%;
  float: right;
}
/* line 385, ../sass/_homepage.scss */
.secondsection .rightsecondsection p {
  font-size: .8rem;
}
/* line 388, ../sass/_homepage.scss */
.secondsection .rightsecondsection h3 {
  position: absolute;
  font-size: 20rem;
  opacity: .25;
  border: 1px solid;
}

/* line 396, ../sass/_homepage.scss */
.thirdsection {
  height: 80vh;
  margin: 0;
}
/* line 399, ../sass/_homepage.scss */
.thirdsection .leftthirdsection {
  background-color: #999999;
  background-image: linear-gradient(20deg, #999999 0%, #ffffff 100%);
}
/* line 401, ../sass/_homepage.scss */
.thirdsection .leftthirdsection img {
  height: 100%;
  float: left;
}
/* line 405, ../sass/_homepage.scss */
.thirdsection .leftthirdsection p {
  font-size: .8rem;
}
/* line 408, ../sass/_homepage.scss */
.thirdsection .leftthirdsection h3 {
  position: absolute;
  font-size: 8rem;
  opacity: .25;
  border: 1px solid;
}
/* line 415, ../sass/_homepage.scss */
.thirdsection .rightthirdsection {
  padding: 0;
}
/* line 417, ../sass/_homepage.scss */
.thirdsection .rightthirdsection .carousel {
  vertical-align: middle;
  padding: 2rem;
  padding-top: 1rem;
}
/* line 421, ../sass/_homepage.scss */
.thirdsection .rightthirdsection .carousel .card {
  height: 75vh;
}
/* line 423, ../sass/_homepage.scss */
.thirdsection .rightthirdsection .carousel .card img {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 3rem;
}
/* line 429, ../sass/_homepage.scss */
.thirdsection .rightthirdsection .carousel .card .table {
  border-collapse: collapse;
  border-style: hidden;
}
/* line 433, ../sass/_homepage.scss */
.thirdsection .rightthirdsection .carousel .card .lastdivider {
  margin-top: 4.5rem;
}
/* line 436, ../sass/_homepage.scss */
.thirdsection .rightthirdsection .carousel .card .socialmediamotorist a {
  font-size: 1.5rem;
  padding-top: 0;
}
/* line 441, ../sass/_homepage.scss */
.thirdsection .rightthirdsection .carousel .carousel-control-next span, .thirdsection .rightthirdsection .carousel .carousel-control-prev span {
  color: rgba(153, 153, 153, 0.5);
  font-size: 3rem;
}

/* line 448, ../sass/_homepage.scss */
.footer {
  height: 51vh;
  background: black;
  z-index: 997;
}
/* line 452, ../sass/_homepage.scss */
.footer .container {
  height: 100%;
}
/* line 454, ../sass/_homepage.scss */
.footer .container .row:first-of-type {
  height: 45vh;
  padding-top: 8vh;
}
/* line 457, ../sass/_homepage.scss */
.footer .container .row:first-of-type h5 {
  margin-bottom: 1rem;
}
/* line 460, ../sass/_homepage.scss */
.footer .container .row:first-of-type i {
  font-size: 3rem;
}
/* line 463, ../sass/_homepage.scss */
.footer .container .row:first-of-type p {
  font-size: .9rem;
}
/* line 468, ../sass/_homepage.scss */
.footer .container .row:not(first-of-type) a {
  font-size: .8rem;
}

/* line 474, ../sass/_homepage.scss */
.contactusmodallauncher {
  position: fixed;
  z-index: 995;
  top: 85vh;
  left: 2vw;
}
/* line 479, ../sass/_homepage.scss */
.contactusmodallauncher i {
  font-size: 2.5rem;
}

/* line 4, ../sass/_checkbox.scss */
.form-check-label {
  padding: 0;
}
/* line 6, ../sass/_checkbox.scss */
.form-check-label input[type='checkbox'] {
  display: none;
}
/* line 9, ../sass/_checkbox.scss */
.form-check-label input[type='checkbox']:checked ~ .toggle {
  background: #999999;
  left: 2rem;
  transition: .5s;
}
/* line 15, ../sass/_checkbox.scss */
.form-check-label input[type='checkbox']:checked ~ .switch {
  background: rgba(153, 153, 153, 0.5);
  transition: .5s;
}
/* line 20, ../sass/_checkbox.scss */
.form-check-label input[type='checkbox']:checked ~ .label {
  color: #999999;
  transition: .5s;
}
/* line 26, ../sass/_checkbox.scss */
.form-check-label .switch {
  display: block;
  width: 3rem;
  height: 1rem;
  background: rgba(153, 153, 153, 0.33333);
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  transition: .5s;
}
/* line 37, ../sass/_checkbox.scss */
.form-check-label .toggle {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 0rem;
  left: 0rem;
  box-shadow: 0 0.06rem 0.12rem rgba(0, 0, 0, 0.4);
  transition: .5s;
}
/* line 49, ../sass/_checkbox.scss */
.form-check-label .label {
  position: absolute;
  left: 4rem;
  top: 0;
  transition: .5s;
}

/* line 5, ../sass/_timeline.scss */
.card-face .row {
  padding: 0 0 4em 0;
}
/* line 7, ../sass/_timeline.scss */
.card-face .row:nth-child(even) {
  background: #F1F4F5;
}
/* line 11, ../sass/_timeline.scss */
.card-face .example-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 3em 0;
  border-bottom: 1px solid #E4EAEC;
}
/* line 16, ../sass/_timeline.scss */
.card-face .example-title p {
  margin: 0 auto;
  font-size: 16px;
  max-width: 400px;
}
/* line 22, ../sass/_timeline.scss */
.card-face .timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 28, ../sass/_timeline.scss */
.card-face .timeline h1, .card-face .timeline h2, .card-face .timeline h3, .card-face .timeline h4, .card-face .timeline h5, .card-face .timeline h6 {
  line-height: inherit;
}
/* line 32, ../sass/_timeline.scss */
.card-face .timeline-item {
  padding-left: 40px;
  position: relative;
}
/* line 35, ../sass/_timeline.scss */
.card-face .timeline-item:last-child {
  padding-bottom: 0;
}
/* line 39, ../sass/_timeline.scss */
.card-face .timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}
/* line 47, ../sass/_timeline.scss */
.card-face .timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
/* line 51, ../sass/_timeline.scss */
.card-face .timeline-marker:before {
  background: #ff6b6b;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
/* line 64, ../sass/_timeline.scss */
.card-face .timeline-marker:after {
  content: "";
  width: 3px;
  background: #CCD5DB;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}
/* line 72, ../sass/_timeline.scss */
.timeline-item:last-child .card-face .timeline-marker:after {
  content: none;
}
/* line 76, ../sass/_timeline.scss */
.card-face .timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #ff6b6b;
}
/* line 80, ../sass/_timeline.scss */
.card-face .timeline-content {
  padding-bottom: 40px;
}
/* line 82, ../sass/_timeline.scss */
.card-face .timeline-content p:last-child {
  margin-bottom: 0;
}
/* line 86, ../sass/_timeline.scss */
.card-face .period {
  padding: 0;
}
/* line 88, ../sass/_timeline.scss */
.card-face .period .timeline-info {
  display: none;
}
/* line 92, ../sass/_timeline.scss */
.card-face .period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #CCD5DB;
  border-bottom: 3px solid #CCD5DB;
}
/* line 105, ../sass/_timeline.scss */
.card-face .period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}
/* line 111, ../sass/_timeline.scss */
.card-face .period .timeline-content {
  padding: 40px 0 70px;
}
/* line 114, ../sass/_timeline.scss */
.card-face .period .timeline-title {
  margin: 0;
}
@media (min-width: 992px) {
  /* line 125, ../sass/_timeline.scss */
  .card-face .timeline-centered,
  .card-face .timeline-centered .timeline-item,
  .card-face .timeline-centered .timeline-info,
  .card-face .timeline-centered .timeline-marker,
  .card-face .timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0;
  }
  /* line 130, ../sass/_timeline.scss */
  .card-face .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }
  /* line 134, ../sass/_timeline.scss */
  .card-face .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  /* line 140, ../sass/_timeline.scss */
  .card-face .timeline-centered .timeline-info,
  .card-face .timeline-centered .timeline-content {
    width: 50%;
  }
  /* line 143, ../sass/_timeline.scss */
  .card-face .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  /* line 148, ../sass/_timeline.scss */
  .card-face .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  /* line 153, ../sass/_timeline.scss */
  .card-face .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  /* line 158, ../sass/_timeline.scss */
  .card-face .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  /* line 163, ../sass/_timeline.scss */
  .card-face .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  /* line 169, ../sass/_timeline.scss */
  .card-face .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
  }
  /* line 172, ../sass/_timeline.scss */
  .card-face .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }
  /* line 177, ../sass/_timeline.scss */
  .card-face .timeline-centered .period .timeline-title {
    left: auto;
  }
}
/* line 184, ../sass/_timeline.scss */
.card-face .marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #ff6b6b;
}
/* line 189, ../sass/_timeline.scss */
.card-face .marker-outline .timeline-item:hover .timeline-marker:before {
  background: #ff6b6b;
}

/* line 89, ../sass/main.scss */
[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: none;
}
